.body {
  flex-direction: column;

}


/* This Section will be the header and main class all under the div class = one */

.one {
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 30px;


}
/* Will all fall under the div one class */
.header {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}

img {
  margin-left: 150px;
}

ul {
  display: flex;
  list-style: none;
  margin-right: 50px;
  gap: 20px;
}

a {
  color: #F9FAF8;
  text-decoration: none;
}

.main {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
}


/* Look at how to chain css selectors. Need to style the button and text*/
